__pycache__/
src/config.json

env/

*.log

datasets/politic_bots/20181001_mongodb_full_dump\.tar\.xz

datasets/politic_bots/20181016_internas2017\.gz

datasets/politic_bots/generales2018\.gz

reports/notebooks/\.ipynb_checkpoints/bots_politicos_generales_2018-checkpoint\.ipynb

reports/notebooks/\.ipynb_checkpoints/bots_politicos_internas_anr_2017-checkpoint\.ipynb

datasets/politic_bots/20181120_internas2017\.gz

datasets/queries/relevant_tweets_anr\.js

sna/gefx/generales2018-2\.gephi

sna/gefx/generales2018-2\.gephi_temp1542574283922

sna/gefx/generales2018\.gephi

sna/gefx/generales2018\.gephi_temp1542064517645

