appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bleach==2.1.4
cca-core==0.1.4
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
googletrans==2.4.0
html5lib==1.0.1
idna==2.8
ipykernel==5.0.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.12.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console
jupyter-core==4.4.0
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==3.0.3
mistune==2.0.3
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nltk==3.4
notebook==5.7.0
numpy==1.16.2
pandas==0.24.2
pandocfilters==1.4.2
parso==0.3.1
pathlib==1.0.1
pexpect==4.6.0
pickleshare==0.7.5
prometheus-client==0.3.1
prompt-toolkit
ptyprocess==0.6.0
Pygments==2.2.0
pymongo==3.7.2
pyparsing==2.3.1
python-dateutil==2.7.3
pytz==2018.9
pyzmq==17.1.2
qtconsole==4.4.1
requests==2.21.0
requests-file==1.4.3
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
sklearn==0.0
soupsieve==1.8
terminado==0.8.1
testpath==0.4.1
tldextract==2.2.1
tornado==5.1
traitlets==4.3.2
urllib3==1.24.1
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
